:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}
.logo {
  max-width: 60px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav {
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  color: var(--text-dark);
  transition: all 100ms ease-in-out;
}

nav li.active a {
  color: var(--primary-color);
}

nav a:hover {
  color: var(--primary-color);
}

.profile {
  width: 300px;
  border-radius: 12px;
}
.portfolio-section {
  padding: 150px 20px;
}
.portfolio-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.portfolio-section h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.portfolio-section p {
  font-size: 18px;
}
.btn-contact {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 4px;
  padding: 15px 30px;
  line-height: 25px;
  font-size: 18px;
  box-shadow: var(--box-shadow);
}

.content {
  margin: 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    line-height: 2;
  }

  .portfolio-section {
    text-align: center;
    padding: 0;
  }
}
